name: "Train Models - Hosted"
on: push

jobs:
  train_headpose:
     runs-on: windows-latest
     steps:
       - uses: actions/checkout@main

       - name: Restore Cache 
         uses: actions/cache@v2
         id: cache
         with:
            path: |
              ./HeadPoseTraining/Dataset/
            key: ${{ runner.os }}-dataset-${{ hashFiles('**/**.*') }}
            restore-keys: |
              ${{ runner.os }}-dataset-

       - name: .NET Restore
         run: dotnet restore 

       - name: Pull Dataset and extract
         if: steps.cache.outputs.cache-hit != 'true'
         run: |
           curl -L https://chinodesuuu.keybase.pub/ml_datasets/300W-LP.zip?dl=1 --output 300W-LP.zip
           Expand-Archive .\300W-LP.zip .\Dataset\ 
         working-directory: HeadPoseTraining
         shell: pwsh

       - name: Create Dataset
         if: steps.cache.outputs.cache-hit != 'true'
         run: |
          pwsh tools\CreateDataset.ps1 -InputDirectory .\Dataset\300W_LP -TrainRate 8 -OutputDirectory .\Dataset\300W-LP
         working-directory: HeadPoseTraining
         shell: pwsh
      
       - name: Run .NET Build and copy DlibDotNetNative DLLs
         run: |
           dotnet build -c Release
           curl -L https://chinodesuuu.keybase.pub/DlibDotNetDLLs.zip?dl=1 --output DlibDotNetDLLs.zip
           Expand-Archive .\DlibDotNetDLLs.zip .\bin\Release\netcoreapp2.0\
         working-directory: HeadPoseTraining
         shell: pwsh
      
       - name: Execute Training 
         run: |
           dotnet run -c Release -- train --dataset .\Dataset\300W-LP ^
                                 --gamma 0.1 ^
                                 --tolerance 0.001 ^
                                 --range 10 ^
                                 --output .\Dataset\300W-LP\result\
         working-directory: HeadPoseTraining

       # This is to test if Model was properly trained.
       - name: Perform Dataset Evaluation
         run: |
           dotnet run -c Release -- eval --image .\Dataset\300W_LP\AFW\AFW_134212_1_4.jpg ^
                              --mat .\Dataset\300W_LP\AFW\AFW_134212_1_4.mat ^
                              --landmark .\Dataset\300W_LP\landmarks\IBUG\IBUG_image_003_1_5_pts.mat ^
                              --roll .\Dataset\300W-LP\result\300w-lp-roll-krls_0.001_0.1.dat ^
                              --pitch .\Dataset\300W-LP\result\300w-lp-pitch-krls_0.001_0.1.dat ^
                              --yaw .\Dataset\300W-LP\result\300w-lp-yaw-krls_0.001_0.1.dat ^
                              --output .\Dataset\300W-LP\result\eval
         working-directory: HeadPoseTraining

       - name: Upload Dataset results
         uses: actions/upload-artifact@master
         with:
            name: dataset-300w-lp 
            path: ./HeadPoseTraining/Dataset/300W-LP/result/

       - name: Execute SSH Debug 
         uses: mxschmitt/action-tmate@master
         with:
              sudo: true
         if: ${{ failure() }}
         timeout-minutes: 120

  train_helen:
     runs-on: windows-latest
     steps:
       - uses: actions/checkout@main

       - name: Restore Cache 
         uses: actions/cache@v2
         id: cache
         with:
            path: |
              ./HelenTraining/Datasets/
            key: ${{ runner.os }}-dataset-${{ hashFiles('**/*.zip') }}
            restore-keys: |
              ${{ runner.os }}-dataset-

       - name: .NET Restore
         run: dotnet restore 

       - name: Pull Datasets
         if: steps.cache.outputs.cache-hit != 'true'
         run: |
           mkdir Datasets
           cd Datasets
           curl -L http://www.ifp.illinois.edu/~vuongle2/helen/data/annotation.zip --output annontation.zip
           curl -L http://www.ifp.illinois.edu/~vuongle2/helen/data/helen_1.zip --output helen_1.zip
           curl -L http://www.ifp.illinois.edu/~vuongle2/helen/data/helen_2.zip --output helen_2.zip
           curl -L http://www.ifp.illinois.edu/~vuongle2/helen/data/helen_3.zip --output helen_3.zip
           curl -L http://www.ifp.illinois.edu/~vuongle2/helen/data/helen_4.zip --output helen_4.zip
           curl -L http://www.ifp.illinois.edu/~vuongle2/helen/data/helen_5.zip --output helen_5.zip
         working-directory: HelenTraining
         shell: pwsh
      
       - name: Run .NET Build and copy DlibDotNetNative DLLs
         run: |
           dotnet build -c Release
           curl -L https://chinodesuuu.keybase.pub/DlibDotNetDLLs.zip?dl=1 --output DlibDotNetDLLs.zip
           Expand-Archive .\DlibDotNetDLLs.zip .\bin\Release\netcoreapp2.0\
         working-directory: HelenTraining
         shell: pwsh
      
       - name: Prepare training data
         run: dotnet run -c Release -- generate -m "Datasets" -p 50
         working-directory: HelenTraining

       - name: Train
         run: dotnet run -c Release -- train -x "helen\helen-dataset.xml" -t 8
         working-directory: HelenTraining

       - name: "DEBUG: Get dir contents of Datasets/"
         run: |
           dir Datasets
           dir helen
         working-directory: HelenTraining

#       - name: Upload Dataset results
#         uses: actions/upload-artifact@master
#         with:
#            name: dataset-helen
#            path: ./HelenTraining/models/

       - name: Execute SSH Debug 
         uses: mxschmitt/action-tmate@master
         with:
              sudo: true
         if: ${{ failure() }}
         timeout-minutes: 120